#!/system/bin/sh

bin_name="xray"
bin_path="/system/bin/${bin_name}"
data_path="/data/${bin_name}"
run_path="${data_path}/run"
pid_file="${run_path}/${bin_name}.pid"
error_log="${run_path}/error.log"
conf_file="${data_path}/config.json"
bin_opts="-config ${conf_file}"
iptables_wait="iptables"
proxy_port="10808"

mark_id="2020"
table_id="2020"
tun_device="utun"
tun_ip="198.18.0.0/16"

tun_start() {
  create_tun_link
  echo "[Info]: Starting tun"
  echo "" > ${run_path}/tun2socks.log
  nohup tun2socks -tunName $tun_device -tunAddr 10.0.0.2 -tunMask 255.255.255.0 -proxyServer 127.0.0.1:${proxy_port} &>${run_path}/tun2socks.log &
}

create_tun_link() {
    echo "[Info]: Creating tun dev"
    mkdir -p /dev/net
    if [ ! -L /dev/net/tun ] ; then
        ln -s /dev/tun /dev/net/tun
    fi
    ip tuntap add mode tun $tun_device >/dev/null 2>&1
    ip addr add 10.0.0.1/24 dev $tun_device >/dev/null 2>&1
    ip link set $tun_device up >/dev/null 2>&1
}

add_rule() {
  echo "[Info]: Add ip rule"
    ip rule add fwmark ${mark_id} table ${table_id} pref 5000
    ip rule add from ${tun_ip} to ${tun_ip} table ${table_id} pref 14000
}

del_rule() {
  echo "[Info]: del ip rule"
    ip rule del fwmark ${mark_id} table ${table_id} pref 5000
    ip rule del from ${tun_ip} to ${tun_ip} table ${table_id} pref 14000
}

add_route() {
  echo "[Info]: add route"
    ip route add default dev ${tun_device} table ${table_id}
    ip route add ${tun_ip} dev ${tun_device} table ${table_id}
}

flush_route() {
  echo "[Info]: flush route"
    ip route flush table ${table_id}
}

suit_iptables_version() {
  iptables_version=`iptables -V | grep -o "v1\.[0-9]"`
  if [ "${iptables_version}" = "v1.4" ] ; then
    ## fix options for lower version iptables
    export ANDROID_DATA=/data
    export ANDROID_ROOT=/system
    iptables_wait="iptables -w"
  elif [ "${iptables_version}" = "v1.6" ] || [ "${iptables_version}" = "v1.8" ] ; then
    iptables_wait="iptables -w 100"
  else
    iptables_wait="echo iptables"
  fi
}

probe_xray_alive() {
  [ -f ${pid_file} ] && cmd_file="/proc/`cat ${pid_file}`/cmdline" || return 1
  [ -f ${cmd_file} ] && grep -q ${bin_path} ${cmd_file} && return 0 || return 1
}

display_xray_pid() {
  if probe_xray_alive ; then
    echo "[Info]: ${bin_name} service is running. ( PID: `cat ${pid_file}` )"
    return 0
  else
    echo "[Info]: ${bin_name} service is stopped."
    return 1
  fi
}

find_netstat_path() {
  [ -f /system/bin/netstat ] && alias netstat="/system/bin/netstat" && return 0
  [ -f /system/xbin/netstat ] && alias netstat="/system/xbin/netstat" && return 0
  return 1
}

wait_xray_listen() {
  wait_count=0
  xray_pid=`cat ${pid_file}`
  find_netstat_path && \
  check_xray_cmd="netstat -tnlp | grep xray | grep -q LISTEN" || \
  check_xray_cmd="ls -lh /proc/${xray_pid}/fd | grep -q socket"
  while probe_xray_alive && ! eval "${check_xray_cmd}" && [ ${wait_count} -lt 100 ] ; do
    sleep 1 ; wait_count=$((${wait_count} + 1))
  done
  if probe_xray_alive && eval "${check_xray_cmd}" ; then
    return 0
  else
    return 1
  fi
}

start_service() {
  export XRAY_LOCATION_ASSET=${data_path}
  if probe_xray_alive ; then
    echo "[Info]: ${bin_name} service is running. ( PID: `cat ${pid_file}` )"
    return 0
  elif [ -f ${conf_file} ] && ${bin_path} ${bin_opts} -test ; then
    echo "[Info]: Starting ${bin_name} service."
    mkdir -p ${run_path}
    chown -R inet:inet ${data_path}
    chown inet:inet ${bin_path}
    chmod 6755 ${bin_path}
    nohup ${bin_path} ${bin_opts} &>${error_log} &
    echo -n $! > ${pid_file}
    if wait_xray_listen ; then
      echo "[Info]: ${bin_name} service is running. ( PID: `cat ${pid_file}` )"
      tun_start
      add_rule
      add_route
      return 0
    else
      if probe_xray_alive ; then
        echo "[Warning]: ${bin_name} service is running but may not listening. ( PID: `cat ${pid_file}` )"
        return 0
      else
        echo "[Error]: Start ${bin_name} service Failed."
        rm -f ${pid_file}
        return 1
      fi
    fi
  else
    return 2
  fi
}

stop_service() {
  if display_xray_pid ; then
    echo "[Info]: Stopping ${bin_name} service."
    kill `cat ${pid_file}`
    sleep 1
    del_rule
    flush_route
    display_xray_pid
  fi
  rm -f ${pid_file}
}

case "$1" in
  start)
    start_service
    ;;
  stop)

    stop_service
    ;;
  restart)
    stop_service
    start_service
    ;;
  status)
    display_xray_pid
    ;;
  *)
    echo "$0:  usage:  $0 {start|stop|restart|status}"
    ;;
esac
